@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0.35em;
  @apply bg-slate-300;
}
div::-webkit-scrollbar {
  height: 0.35em;
  @apply bg-slate-300;
}

*::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
  border-radius: 1rem;
}
